.faicons {
    font-size: 18px;
}
.dropdown-menu-header {
    margin-bottom: -1.35rem;
}

.logo-src {
    width: 87px !important;
    height: 23px !important;
}

.remove-button {
    cursor: pointer;
    color: #d41f1f !important;
}
.table-icons {
    float: right;
}
.search-component {
    margin-right: 13px;
    height: 33px;
}
.pagination {
    float: right;
}
.select2.select2-container.select2-container--default {
    width: 100% !important;
}
